.lessons-container {
  display: flex;
  height: auto;
  min-height: 100vh;
  background: #f0f4f8;
}

.lessons-content {
  flex: 1;
  padding: 20px;
  height: auto;
  background: #e7f5ea;
  overflow-y: auto;
}
